{% extends 'base.html' %}
{% block content %}
<h1>{{ suggestion.title }}</h1>
<p>{{ suggestion.caption }}</p>
<p>Suggested By {{ suggestion.user.username }} on {{ suggestion.created_at }}</p>
{% if suggestion.user == user %}
<p><a href="{% url 'suggestion_update' pk=question.id %}">Edit Suggestion</a></p>
{% endif %}
{% if comments.count > 0 %}
<h3>{{ comments.count }} Comment{{ comments.count|pluralize }}:</h3>
{% endif %}
{% for comment in comments %}
<div class="panel">
  <p>{{ comment.text }}</p>
  {% if comment.user == user %}
  <p><a href="{% url 'comment_update' suggestion_pk=suggestion.id comment_pk=comment.id %}">Edit Comment</a></p>
  {% endif %}
  <p>Answered By {{ comment.user.username }} on {{ comment.created.at }}</p>
</div>
{% endfor %}
<p><a href="{% url 'comment_create' pk=question.id %}">Comment</a></p>
{% endblock %}