{% extends 'base.html' %}
{% block content %}
{% for suggestion in suggestion_list %}
<div class="panel">
  <h3><a href="{{ suggestion.get_absolute_url }}">{{ suggestion.category }}</a></h3>
  <p>Suggested By {{ suggestion.user.username }} on {{ suggestion.created_at }}</p>
  <p>{{ suggestion.vote_set.all.count }} Vote{{ suggestion.vote_set.all.count|pluralize }}</p>
  <form method="post" action="{% url 'vote' %}">
    {% csrf_token %}
    <input type="hidden" name="suggestion" value="{{ suggestion.id }}"/>
    <input type="hidden" name="user" value="{{ user.id }}"/>
    <button>+</button>
  </form>
</div>
{% empty %}
<p>No results found.</p>
{% endfor %}
{% if is_paginated %}
<nav>
  <ul class="pager">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}